<div class="form">
<mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input matInput type="text"  #input>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <input matInput type="text"  #input>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput type="text"  #input>
</mat-form-field>
</div>
<br>
<div class="buttons">
    <button mat-raised-button color="primary">Add Money</button>
    <button mat-raised-button color="">Add Expense</button>
</div>
